@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap");

body {
    background-color: black;
}

input {
    display: block;
    font-family: "Poppins", sans-serif;
    width: 98%;
    height: 10vh;
    font-family: "Poppins", sans-serif;
    font-size: 5vh;
    background-color: rgb(0, 0, 95);
    color: white;
    border-radius: 10px;
    overflow: hidden;
    padding-left: 1%;
}

.index_submit {
    width: 100%;
    height: 10vh;
    font-family: "Poppins", sans-serif;
    font-size: 3vh;
    background-color: rgb(0, 0, 95);
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.banner {
    width: 100vw;
    height: 15vh;
    font-family: "Poppins", sans-serif;
    background-color: rgb(0, 0, 95);
    color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

.text {
    width: 100vw;
    font-family: "Poppins", sans-serif;
    background-color: rgb(0, 0, 95);
    color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    position: relative;
    text-align: left;
}

.banner_text {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 5vh;
}

.typewriter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.typewriter h1 {
    font-size: 4vh;
    /* Adjust the height as needed */
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    padding-left: 1vw;
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}

.form {
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-color: rgb(0, 0, 95);
    color: white;
    border-radius: 10px;
}

.back {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.button {
    height: 100%;
    width: 12vw;
    display: inline-block;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    font-size: 5vh;
}

.game {
    width: 48vw;
    height: 25vw;
    display: inline-block;
}

.game_table {
    width: 50%;
    height: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
    border: none;
}

td {
    width: 33%;
    border: none;
}

td button.button0 {
    border-radius: 10vh;
    display: block;
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background-color: rgb(0, 0, 95);
}

td button.button1 {
    border-radius: 10vh;
    display: block;
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background-image: radial-gradient(circle at center, violet, rgb(0, 0, 95));
    animation: pulse 5s infinite;
}

td button.button2 {
    border-radius: 10vh;
    display: block;
    position: relative;
    width: 100%;
    aspect-ratio: 1/1;
    background-image: radial-gradient(circle at center, chartreuse, rgb(0, 0, 95));
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
        background-size: 10%;
    }

    50% {
        transform: scale(0.9);
        background-size: 200%;
    }

    100% {
        transform: scale(1);
        background-size: 10%;
    }
}

.table_text {
    height: 100%;
    width: 100%;
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 2vw;
    text-align: center;
}

.p0 {
    color: violet;
}

.p1 {
    color: chartreuse;
}

.leaderboard_img {
    width: 100vw;
    height: 100vh;
    text-align: center;
}