<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QGame - Quantum Tic Tac Toe</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script
      type="text/javascript"
      src="{% static 'node_modules/mathjax/MathJax.js' %}?config=TeX-AMS-MML_HTMLorMML"
      id="MathJax-script"
      async
    ></script>
    <!--<script type="text/javascript">
      let url = `ws://${window.location.host}/ws/socket-server/`;

      const chatSocket = new WebSocket(url);

      chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data);
        console.log("Data:", data);
      };
    </script> -->
  </head>
  <body>
    <div class="banner" style="height: 15vh">
      <div class="button" onclick="location.href='/'">Back</div>
      <div
        style="
          flex-grow: 1;
          height: 100%;
          display: inline-block;
          text-align: center;
        "
      >
        <h1 class="banner_text">Quantum Tic Tac Toe</h1>
      </div>
    </div>
    <div style="width: 90px; height: 100%; display: inline-block"></div>
    <div class="banner" style="height: 10vh">
      <div class="typewriter">
        <h1>{{message | safe }}</h1>
      </div>
    </div>
    <div class="game">
      <table border="1" class="game_table">
        <tbody>
          <tr>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{c.11}}" type="submit" name="btn111">
                  <p class="table_text">{{a.11}}</p>
                </button>
              </form>
            </td>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{c.12}}" type="submit" name="btn112">
                  <p class="table_text">{{a.12}}</p>
                </button>
              </form>
            </td>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{c.13}}" type="submit" name="btn113">
                  <p class="table_text">{{a.13}}</p>
                </button>
              </form>
            </td>
          </tr>
          <tr>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{c.21}}" type="submit" name="btn121">
                  <p class="table_text">{{a.21}}</p>
                </button>
              </form>
            </td>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{c.22}}" type="submit" name="btn122">
                  <p class="table_text">{{a.22}}</p>
                </button>
              </form>
            </td>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{c.23}}" type="submit" name="btn123">
                  <p class="table_text">{{a.23}}</p>
                </button>
              </form>
            </td>
          </tr>
          <tr>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{c.31}}" type="submit" name="btn131">
                  <p class="table_text">{{a.31}}</p>
                </button>
              </form>
            </td>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{c.32}}" type="submit" name="btn132">
                  <p class="table_text">{{a.32}}</p>
                </button>
              </form>
            </td>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{c.33}}" type="submit" name="btn133">
                  <p class="table_text">{{a.33}}</p>
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="game">
      <table border="1" class="game_table">
        <tbody>
          <tr>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{d.11}}" type="submit" name="btn211">
                  <p class="table_text">{{b.11}}</p>
                </button>
              </form>
            </td>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{d.12}}" type="submit" name="btn212">
                  <p class="table_text">{{b.12}}</p>
                </button>
              </form>
            </td>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{d.13}}" type="submit" name="btn213">
                  <p class="table_text">{{b.13}}</p>
                </button>
              </form>
            </td>
          </tr>
          <tr>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{d.21}}" type="submit" name="btn221">
                  <p class="table_text">{{b.21}}</p>
                </button>
              </form>
            </td>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{d.22}}" type="submit" name="btn222">
                  <p class="table_text">{{b.22}}</p>
                </button>
              </form>
            </td>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{d.23}}" type="submit" name="btn223">
                  <p class="table_text">{{b.23}}</p>
                </button>
              </form>
            </td>
          </tr>
          <tr>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{d.31}}" type="submit" name="btn231">
                  <p class="table_text">{{b.31}}</p>
                </button>
              </form>
            </td>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{d.32}}" type="submit" name="btn232">
                  <p class="table_text">{{b.32}}</p>
                </button>
              </form>
            </td>
            <td>
              <form method="POST">
                {% csrf_token %} {{ form.as_p }}
                <button class="{{d.33}}" type="submit" name="btn233">
                  <p class="table_text">{{b.33}}</p>
                </button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
