<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="”viewport”"
      content="”width"
      ="device-width,"
      height="device-height,"
      initial-scale="1.0,"
      user-scalable="yes,"
      maximum-scale="5.0″"
    />
    <title>QGame - Fill in your name</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <div style="width: 90px; height: 100%; display: inline-block"></div>
    <div style="text-align: center; overflow: hidden">
      <video id="Vid" width="100%" autoplay controls>
        <source src="{% static 'QGame_explained.mp4' %}" type=video/mp4>
      </video>
    </div>
    <div style="width: 100vw; height: 10px; overflow: hidden"></div>
    <div id="next" style="width: 100vw">
      <div class="form">
        <form method="POST">
          {% csrf_token %} {{ form.as_p }}
          <button class="index_submit" type="submit">Start Game</button>
        </form>
      </div>
    </div>
    <script>
      var v = document.getElementById("Vid");
      v.autoplay = true;
      v.load();

      // Executes only when the video ends
      v.onended = function () {
        // Enabling the scroller
        document.body.style.overflow = "";

        // Scrolling to the next element by
        // linking to its Id
        document.getElementById("next").scrollIntoView({ behavior: "smooth" });
      };
    </script>
  </body>
</html>
