<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="”viewport”"
      content="”width"
      ="device-width,"
      height="device-height,"
      initial-scale="1.0,"
      user-scalable="yes,"
      maximum-scale="5.0″"
    />
    <title>QGame - Fill in your name</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <div style="width: 90px; height: 100%; display: inline-block"></div>
    <div style="text-align: center; overflow: hidden">
      <video width="device-width" autoplay loop>
        <source src="{% static 'QGame_explained.mp4' %}" type=video/mp4>
      </video>
    </div>
    <div style="width: 100vw; height: 10px; overflow: hidden"></div>
    <div style="width: 100vw">
      <div class="form">
        <form method="POST">
          {% csrf_token %} {{ form.as_p }}
          <button class="index_submit" type="submit">Start Game</button>
        </form>
      </div>
    </div>
  </body>
</html>
