<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="10">
    <meta content="10" />
    <meta
      name="”viewport”"
      content="”width"
      ="device-width,"
      height="device-height,"
      initial-scale="1.0,"
      user-scalable="yes,"
      maximum-scale="5.0″"
    />
    <title>QGame - Leaderboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <div style="text-align: center; overflow: hidden; display: inline-block">
      <img
        class="leaderboard_img"
        src="{% static 'Leaderboard.png' %}"
        alt="Leaderboard"
      />
    </div>
  </body>
</html>
